html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.portfolioName {
  width: 100%;
  margin-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  color: #333;
}

.conteines {
  display: flex;
  width: 100%;
  max-width: 1300px;
  gap: 35px;
  box-sizing: border-box;
}

.conteines > * {
  background: white;
  color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.conteines > :first-child {
  flex: 0 0 30%; /* BarLateral */
}

.conteines > :last-child {
  flex: 1; /* MainContainer (70%) */
}

@media (max-width: 768px) {
  .conteines {
    flex-direction: column;
  }

  .conteines > :first-child,
  .conteines > :last-child {
    flex: 1;
  }
}

/* Navbar */
.navbar {
  background-color: #7b7b7b;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
}

/* Modo escuro */
body.dark-mode {
  background-color: #121212;
  color: #c40000;
}

body.dark-mode .navbar {
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

body.dark-mode .conteines > * {
  background-color: #1c1c1c;
  color: #4d4343;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

body.dark-mode .info-contato{
  background-color: #424242;
}

body.dark-mode .sobre{
  background-color: #424242;
}

body.dark-mode .layout{
  background-color: #424242;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p {
  color: #c4c1c1;
}

/* Links e ícones (opcional) */
body.dark-mode a {
  color: #4da6ff;
}
